.jd-search-wrapper {

    .jd-search-input-wrapper,
    .jd-search-slider,
    .jd-search-content {
        position: relative;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}