// Colours

$jd-primary: #000;
$jd-secondary: #fff;
$jd-pink: #fd639b;
$jd-pink-dark: #b14255;
$jd-pink-light: #ff7661;
$jd-pink-gradient: #fe5377;
$jd-blue: #4f5dcd;
$jd-grey: #ccc;
$jd-grey-border: #d3d3d3;
$jd-grey-dark: #858585;

// alpha colors
 $jd-grey-50: rgba(133, 133, 133, 0.5);