// Fonts

@mixin font-family-jdpo() {
    font-family: 'Roboto', sans-serif, Helvetica, Verdana, Arial;
    font-weight: 300;
    text-transform: none;
}

@mixin font-family-jdpo-bold() {
    font-family: 'Roboto', sans-serif, Helvetica, Verdana, Arial;
    font-weight: 500;
    text-transform: none;
}
